{% extends "base.html" %}

{% block main %}

    <header>
        <img class="tipo" src="{{ url_for('static', filename='images/tipo.png')}}">
    </header>

    <article class="lista">

        <h2 class="eps">Episódios Disponíveis: </h2>
        <a href="{{ url_for('ep')}}">
            <article class="ep1">
                <img class="logo" src="{{ url_for('static', filename='images/logo.png')}}">
                <p class="titulo">Acidentes que viraram invenções</p>
                <p class="interlocutores">Por Cadu e Vinícius</p>
            </article>
        </a>

    </article>
{% endblock %}